{% extends "admin/layout.html" %}
{% block body %}

<style>
  #thisbutton {
    display: inline-block;
    padding-left: 1rem;
    padding-top: 0rem;
    color: rgb(rgb(180, 166, 166);
    }
</style>

<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Tables</h1>
  <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information
    about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables
      documentation</a>.</p>

  <a href="/dashboard/edit/0"><button class="btn btn-primary"> Add new Post</button></a>

  <hr>
  <h1 class="h3 mb-0 text-gray-800">Upload A File</h1><br>
  <div id="thisbutton">
    <form action="/uploader" method="post" enctype="multipart/form-data">
      <input type="file" name="file1">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>

  </form>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Sno</th>
              <th>Title</th>
              <th>Date</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Sno</th>
              <th>Title</th>
              <th>Date</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </tfoot>
          <tbody>

            {% for post in posts %}
            <tr>
              <td>{{post.sno}}</td>
              <td>{{post.title}}</td>
              <td>{{post.date}}</td>
              <td><a href="/dashboard/edit/{{post.sno}}"><button class="btn btn-primary">Edit</button></a></td>
              <td><a href="/dashboard/deletepost/{{post.sno}}"><button class="btn btn-primary"
                    onclick="myfunction">Delete</button></td></a>
            </tr>

            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->
<script>
  function myFunction() {
    let txt;
    if (confirm("Do you really want to delete")) {
      txt = "You pressed OK!";
    } else {
      txt = "You pressed Cancel!";
    }
</script>

{% endblock %}